<!DOCTYPE html>
<html dir="ltr">
<head>

  <meta charset="utf-8">
  <title>Preview Layout</title>

  <link rel="stylesheet" href="{{ path '/css/panel.css' }}">

</head>
<body>

  <main>{{{ yield }}}</main>

  <script>

  panel = {
    config: {
      assets: '',
      api: 'http://localhost:8000/api',
      index: 'http://localhost:8000'
    }
  };

  </script>
  <script src="{{ path '/js/vendor.js' }}"></script>
  <script src="{{ path '/js/ui.js' }}"></script>
  <script src="{{ path '/js/panel.js' }}"></script>

</body>
</html>
